﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="sitio-turistico.aspx.cs" Inherits="WebApplication3.Website.agente.sitio_turistico" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

         html {
            background: url(/img/gt2.jpg); 
            width: 100%;
            height: 100%;
         }
         body{
            margin-top: 20px;
        }

			
			#header {
				margin:auto;
				width:750px;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#052a52;
				color:#fff;
				text-decoration:none;
				padding:15px 50px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-215px;
				top:0px;
			}
			

        h1{
            text-align: center;
        }

        .auto-style1 {
            font-size: 17pt;
        }

        </style>
</head>
<body>

    <div id="header">
			<ul class="nav">
				<li><a href="agente.aspx">Inicio</a></li>
				<li><a href="">Tu Sesión</a>
					<ul>
						<li><a href="sitio-turistico.aspx">Registrar Sitio Turistico</a></li>
						<li><a href="solicitantes.aspx">Empresas solicitantes</a></li>
						<li><a href="aceptadas.aspx">Empresas aceptadas</a></li>
					</ul>
				</li>
				<li><a href="">Acerca de</a></li>
				<li><a href="../inicio.aspx">Cerrar Sesión</a></li>
			</ul>
		</div>




    <form id="form1" runat="server">
        <div>
        </div>
    <p>
        &nbsp;</p>
    <h1>
        Registrar un Sitio Turistico</h1>
        <p>
            &nbsp;</p>
        <p class="auto-style1">
            Nombre&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        </p>
    </form>
    <p class="auto-style1">
        Direccion
    </p>
    <p class="auto-style1">
        Region </p>
</body>
</html>
